node_modules/
.github/

.eslintrc.*
.gitignore
.prettierrc
.prettierignore
.DS_Store
.cache
.vscode

npm-debug.*

*.log
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

babel.config.js
commitlint.config.js